<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="http://www.synrg.io">
		<title>SynRG</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta http-equiv="x-ua-compatible" content="IE=edge" />
		<meta charset="utf-8" />
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.chunks.app.css %>" />
	</head>
	<body>
		<script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.app.entry %>"></script>
	</body>
</html>